<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player_attack_left_1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,29},{27,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_attack_left_2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,42},{25,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_attack_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{27,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_attack_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{25,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,78},{25,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{25,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,84},{25,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{27,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,58},{25,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{25,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{23,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{23,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,40},{25,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{25,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71e4e2d30e0a8223d14390b1c93dfcab:1/1$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
