<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,29},{23,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{23,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,29},{23,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{23,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{25,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{25,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{25,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,27},{23,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{23,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,29},{23,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{23,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Player_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{19,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa8637be5d2c8412b01b4a931f586e11:3c263c29df97f64c0dac044e90a7b0a8:18fcf80557a1b693f695decb3ad03513$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
