<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{25,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{25,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Enemy_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,40},{25,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{25,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Enemy_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,44},{25,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Enemy_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,86},{25,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,38}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Enemy_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Enemy_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{23,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Enemy_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,84},{25,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{25,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Enemy_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Enemy_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{25,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{25,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>Enemy_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{21,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{21,36}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Enemy.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87edb3144d6a0ff78b06951bfe6435b6:5fa813506046e98f835612e4cd4fd82b:70e097565c047f03571f3c3dabb45ced$</string>
            <key>textureFileName</key>
            <string>Enemy.png</string>
        </dict>
    </dict>
</plist>
